:root {
  --light-gray: #666;
  --dark-gray: #333;
  --white: #EEE;
  --dodger-blue: dodgerblue;
  --light-blue: #1e90ff3d;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
}

strong {
  font-weight: bold;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background: var(--dark-gray);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  color: var(--white);
  text-align: center;
  padding: 5vw;
}

h1 {  
  letter-spacing: 0.7em;
  text-transform: uppercase;
  font-size: 1.35em;
  margin: 1em;
}

h3 {  
  letter-spacing: 0.25em;
  text-transform: uppercase;
  font-size: 0.85em;
  margin-top: 40px;
}

ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  max-width: 450px;
}

li {
  margin-bottom: 10px;
}

p, ul {
  font-variant: all-small-caps;
  font-size: 0.95em;
}

p {
  margin-top: 1.5em;
}

.highlighted {
  background-color: var(--light-blue);
}

.view {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0 10px;
}

form {
  margin: 10px;
  padding: 20px;
  max-width: 300px;
  background-color: var(--light-gray);
}

input[type='submit'] {
  width: 220px;
  text-align: center;
  border: 1px solid var(--light-gray);
  margin: 25px 0 5px;
  background-color: var(--dodger-blue);
  text-transform: uppercase;
  color: var(--var-white);
  cursor: pointer;
  padding: 15px 0;
}

input[type='submit']:hover {
  border: 1px solid var(--dodger-blue);
}

@media only screen and (max-width: 440px) {
  * {
    font-size: 0.95em;
  }

  body {
    height: auto;
  }

  .container {
    padding: 0;
  }

  .view {
    flex-direction: column;
    padding: 10px;
  }

  form {
    margin: 0;
    max-width: 220px;
  }

  ul {
    max-width: 320px;
  }

  p {
    margin-top: 1em;
  }

  h1 {  
    letter-spacing: 0.25em;
  }

  h3 {  
    letter-spacing: 0.1em;
  }
}