<!DOCTYPE html>

<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <title>File Metadata</title>
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <h1>File Metadata Microservice</h1>

        <h3>Usage:</h3>
        <p>
          <span class="highlighted">Please Upload a File ...</span>
        </p>

        <div class="view">
          <h4 id="output"></h4>
          <form enctype="multipart/form-data" method="POST" action="/api/fileanalyse">
            <input id="inputfield" type="file" name="upfile">
            <input id="button" type="submit" value="Upload">
          </form>
        </div>

        <h3>User Stories:</h3>
        <ul>
          <li>You can submit a form that includes a file upload.</li>
          <li>The form file input field has the <strong>name</strong> attribute set to <strong>upfile</strong>.</li>
          <li>When you submit a file, you receive the file <strong>name</strong>, <strong>type</strong>, and <strong>size</strong> in bytes within the JSON response.</li>
        </ul>
      </div>
   </body>
</html>
